{% extends "base.html" %}
{% block body %}
    <div class="tab-pane fade in active" id="account">
        <div class="div-width">
            <div class="form-horizontal">
                <center><h2>智能调度</h2></center>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger" id="run_iauto">执行</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
