{% extends "algorithm/fchat.html" %}
{% block body %}
    <div class="tab-pane fade in active" id="static">
        <div class="div-width">
            <div class="form-horizontal">

                <div class="form-group">
                    <table id="static_list_table">
                        <table id="exactstatic_list_table">

                    </table>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/algorithm.js"></script>
{% endblock %}

